body {
 	height: 100%;
 	margin: 0;
 	padding: 0;
/*  background-image: url("http://rs724.pbsrc.com/albums/ww247/ccj5100/Bitcoin/bitcoin-rotate_zps0fswyhns.gif~c200");*/
	background-color: black;
	display: flex;
   	flex-direction: row;
   	align-items: center;
   	justify-content: center;
}

#bitcoin{
	
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	display: flex;
	width: 500px;
	padding: 4em;
	border-radius: 20px;
}

h1 {
	color: black;
	text-align: center;
	font-size: 2em;
}

.btn {
	margin: 1em;
}

.displayAPIdata p {
	font-size: 1em;
	text-align: center;
	margin-top: 1em;
}